<div class="d-flex flex-column w-100 h-100">
<div class="d-flex justify-content-center align-items-center py-5 bg-success">
  <h1 class="text-center text-light">Applicazione operazioni crud</h1>
</div>
  <div class="container-fluid h-100">
    <div class="row gx-4 p-5 h-100">
      <div class="col-6">
        <div class="card h-100 rounded shadow-lg border border-light-subtle"
        [routerLink]="['/posts']">
          <img class="card-img-top" src="../../../assets/img/social.jpg">
           <div class="card-body">
            <h1 class="card-title">Social</h1>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card h-100 rounded shadow-lg border border-light-subtle"
        [routerLink]="['/albums']">
          <img class="card-img-top" src="../../../assets/img/albumfoto.jpg">
           <div class="card-body">
            <h1 class="card-title">Immagini</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
