<div class="d-flex flex-column w-100 h-100 justify-content-center align-items-center">
    <ng-container *ngIf="!post?.id else altro">
      <h1 class="text-center">Crea nuovo post</h1>
    </ng-container>
    <ng-template #altro>
      <h1 class="text-center">Mofifica post esistente</h1>
    </ng-template>
    <form #form="ngForm" (ngSubmit)="submit()" class="w-50">
      <div ngModelGroup="post" #postGroup="ngModelGroup" id="post">
          <div class="form-group">
            <label for="title">Titolo post</label>
            <input type="text" id="title" [(ngModel)]="post!.title" name="title"
            required #title="ngModel" class="w-100">
            <br>
            <label for="title">Contenuto post</label>
            <textarea type="text" id="body" [(ngModel)]="post!.body" name="body"
            required #body="ngModel" class="w-100" rows="5"></textarea>
            <br>
            <label for="imageUrl">Immagine post</label>
            <input type="text" id="imageUrl" [(ngModel)]="post!.imageUrl" name="imageUrl"
            required #imageUrl="ngModel" class="w-100">
            <br>
      <!--
            <label for="userId">Utente</label>
            <select id="userId" name="userId" required #userId="ngModel" class="w-100"
            [(ngModel)]="post!.userId">
            <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
          </select>
          -->
          </div>
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary mt-3">Invia</button>
    </form>
</div>
