.modal-content{
  --bs-modal-border-color: green;
}

.modal-footer{
  --bs-modal-footer-border-color: green;
}

.modal-header{
  --bs-modal-header-border-color: green;
}

.delete:hover{
    svg{
      fill:white;
    }
}
